<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Opificina{% endblock %}</title>
    <link rel="stylesheet" href="/styles/main.css">
    <noscript>
        <style>
            body *:not(noscript) {
                display: none;
            }
        </style>
    </noscript>
    {% block head %}{% endblock %}
</head>
<body>
    <noscript>
        This website will not work as expected without JavaScript.
    </noscript>
    <main>
        {% block body %}
        {% endblock %}
    </main>
    <!-- Footer -->
    <footer id="footer">
        <p class="copyright">&copy; Opificina. Coded by: Nitin Ravi and Aravindan
    </footer>
</body>
<!-- Scripts -->
<script src="scripts/jquery-3.5.1.min.js"></script>
{% block javascript %}
{% endblock %}
</html>
